services:

  mysql:
    image: mysql:8
    container_name: school-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: schooldb
    ports:
      - "3307:3306"
    networks:
      - school-net
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10


  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5433:5432"
    networks:
      - school-net
    volumes:
      - keycloak_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - keycloak-db
    networks:
      - school-net

  user-service:
    build:
      context: ./user-service
    container_name: user-service
    env_file:
      - ./user-service/.env.docker
    ports:
      - "3000:3000"
    depends_on:
      mysql:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks:
      - school-net

  menu-service:
    build:
      context: ./menu-service
    container_name: menu-service
    env_file:
      - ./menu-service/.env.docker
    ports:
      - "3001:3001"
    depends_on:
      mysql:
        condition: service_healthy
      keycloak:
        condition: service_started
    networks:
      - school-net

networks:
  school-net:
    driver: bridge

volumes:
  mysql_data:
  keycloak_data:
