version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: school-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: school_db
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
